@import "tailwindcss";

@theme {
  --font-display: "Plus Jakarta Sans", system-ui, sans-serif;
  --color-primary: #007BA7;
  --color-oxford-navy: #002147;
  --color-honeydew: #F0FFF0;
  --color-cerulean-light: #E0F2F7;
  --color-background-light: #f8fafc;
}

body {
  margin: 0;
  font-family: "Plus Jakarta Sans", system-ui, sans-serif;
  background-color: var(--color-background-light);
  min-height: 100vh;
}
